EntityIntegration/Verisk/CoverageVerifier/CV_Request_Schema_V8.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="Request" nillable="true" type="Request" />
	<xs:complexType name="Request">
		<xs:all>
			<xs:element minOccurs="1" maxOccurs="1" name="Header" type="RequestHeader" />
			<xs:element minOccurs="1" maxOccurs="1" name="Body" type="RequestBody" />
		</xs:all>
	</xs:complexType>
	<xs:complexType name="RequestHeader">
		<xs:all>
			<xs:element minOccurs="1" maxOccurs="1" name="Authorization" type="Authorization" />
			<xs:element minOccurs="0" maxOccurs="1" name="Quoteback">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:minLength value="1"></xs:minLength>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element minOccurs="0" maxOccurs="1" name="RequestOptions" type="ArrayOfRequestOption" />
		</xs:all>
	</xs:complexType>
	<xs:complexType name="Authorization">
		<xs:all>
			<xs:element minOccurs="1" maxOccurs="1" name="OrgId" >
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:minLength value="3"></xs:minLength>
						<xs:maxLength value="10"></xs:maxLength>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element minOccurs="1" maxOccurs="1" name="ShipId" >
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:minLength value="3"></xs:minLength>
						<xs:maxLength value="10"></xs:maxLength>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
		</xs:all>
	</xs:complexType>
	<xs:complexType name="ArrayOfRequestOption">
		<xs:sequence>
			<xs:element minOccurs="0" maxOccurs="unbounded" name="RequestOption" nillable="true" type="RequestOption" />
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="RequestOption">
		<xs:all>
			<xs:element minOccurs="0" maxOccurs="1" name="Key" type="xs:string" />
			<xs:element minOccurs="0" maxOccurs="1" name="Value" type="xs:string" />
		</xs:all>
	</xs:complexType>
	<xs:complexType name="RequestBody">
		<xs:all>
			<xs:element minOccurs="1" maxOccurs="1" name="Drivers" type="ArrayOfDriver" />
			<xs:element minOccurs="1" maxOccurs="1" name="Addresses" type="ArrayOfAddress" />
			<xs:element minOccurs="0" maxOccurs="1" name="VINS" type="ArrayOfString" />
			<xs:element minOccurs="0" maxOccurs="1" name="PhoneNumbers" type="ArrayOfString1" />
			<xs:element minOccurs="0" maxOccurs="1" name="PriorPolicyNumber" type="xs:string" />
		</xs:all>
	</xs:complexType>
	<xs:complexType name="ArrayOfDriver">
		<xs:sequence>
			<xs:element minOccurs="1" maxOccurs="unbounded" name="Driver" type="Driver" />
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Driver">
		<xs:all>
			<xs:element minOccurs="1" maxOccurs="1" name="Sequence" type="xs:int" />
			<xs:element minOccurs="1" maxOccurs="1" name="GivenName" >
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:minLength value="1"></xs:minLength>
						<xs:maxLength value="20"></xs:maxLength>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element minOccurs="0" maxOccurs="1" name="MiddleName" >
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:minLength value="1"></xs:minLength>
						<xs:maxLength value="20"></xs:maxLength>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element minOccurs="1" maxOccurs="1" name="Surname" >
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:minLength value="1"></xs:minLength>
						<xs:maxLength value="30"></xs:maxLength>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element minOccurs="0" maxOccurs="1" name="NameSuffix" >
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:minLength value="1"></xs:minLength>
						<xs:maxLength value="3"></xs:maxLength>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element minOccurs="0" maxOccurs="1" name="DOB" >
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:length value="8"></xs:length>
						<xs:pattern value="\d{8}"></xs:pattern>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element minOccurs="0" maxOccurs="1" name="SSN" >
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:minLength value="8"></xs:minLength>
						<xs:maxLength value="9"></xs:maxLength>
						<xs:pattern value="\d{1,9}"></xs:pattern>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element minOccurs="0" maxOccurs="1" name="DLNumber" >
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:minLength value="1"></xs:minLength>
						<xs:maxLength value="25"></xs:maxLength>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element minOccurs="0" maxOccurs="1" name="DLState">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:minLength value="2"></xs:minLength>
						<xs:maxLength value="2"></xs:maxLength>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element minOccurs="0" maxOccurs="1" name="PreviousDLNumber" >
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:minLength value="1"></xs:minLength>
						<xs:maxLength value="25"></xs:maxLength>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element minOccurs="0" maxOccurs="1" name="PreviousDLState" >
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:minLength value="2"></xs:minLength>
						<xs:maxLength value="2"></xs:maxLength>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
		</xs:all>
	</xs:complexType>
	<xs:complexType name="ArrayOfAddress">
		<xs:sequence>
			<xs:element minOccurs="1" maxOccurs="unbounded" name="Address" nillable="true" type="Address" />
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Address">
		<xs:all>
			<xs:element minOccurs="1" maxOccurs="1" name="AddressType" >
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:pattern value="[Cc][Uu][Rr][Rr][Ee][Nn][Tt]"/>
						<xs:pattern value="[Pp][Rr][Ee][Vv][Ii][Oo][Uu][Ss]" />
						<xs:pattern value="[Mm][Aa][Ii][Ll][Ii][Nn][Gg]"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element minOccurs="1" maxOccurs="1" name="Street1" >
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:minLength value="1"></xs:minLength>
						<xs:maxLength value="50"></xs:maxLength>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element minOccurs="0" maxOccurs="1" name="Street2" >
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:minLength value="1"></xs:minLength>
						<xs:maxLength value="50"></xs:maxLength>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element minOccurs="1" maxOccurs="1" name="City" >
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:minLength value="1"></xs:minLength>
						<xs:maxLength value="30"></xs:maxLength>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element minOccurs="1" maxOccurs="1" name="StateCode" >
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:minLength value="2"></xs:minLength>
						<xs:maxLength value="2"></xs:maxLength>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element minOccurs="1" maxOccurs="1" name="Zip" >
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:minLength value="1"></xs:minLength>
						<xs:maxLength value="9"></xs:maxLength>
						<xs:pattern value="\d{1,9}"></xs:pattern>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
		</xs:all>
	</xs:complexType>
	<xs:complexType name="ArrayOfString">
		<xs:sequence>
			<xs:element minOccurs="0" maxOccurs="unbounded" name="VIN" nillable="true" >
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:minLength value="1"></xs:minLength>
						<xs:maxLength value="25"></xs:maxLength>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ArrayOfString1">
		<xs:sequence>
			<xs:element minOccurs="0" maxOccurs="unbounded" name="PhoneNumber" nillable="true" >
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:minLength value="1"></xs:minLength>
						<xs:maxLength value="10"></xs:maxLength>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
</xs:schema>